@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    margin-left: 0;
    border-bottom: 2px solid #f1356d;
  }
.navbar h1{
    text-align: center;
    margin-left: 450px;
}
.navbar img{
    flex: 1;
    width:100%;
    height: auto;
}
  
.navbar .links {
    margin-left: 350px;
}
.navbar a {
  margin-left: 24px;
  text-decoration: none;
  padding: 6%;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 100px;
}

  